.header-wrapper{
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0569001);   
}
.header-bar-wrapper{
    padding: 0px 89px 0px 69px;
}

.header-profile-wrapper img{
    width: 32px;
    height: 32px;
}
.header-notification-icon{
    border: 1px solid #E2E2E2;
    padding: 4px;
    background-color: #F8FAFB;
}
.sidebar-wrapper{
    width:251px;
    height: 100vh;
    position: sticky;
    top:0;
    z-index:5;
    background: #FFFFFF;
    box-shadow: 4px 0px 24px rgba(210, 227, 220, 0.4);
}
.sidebar-site-logo{
    padding:49px 79px 70px 33px;
}
.menu-bar-wrapper{
    padding:0px 85px 0px 38px;
    gap:32px;
}
.menu-item-wrapper{
    color: #780543;
}
.menu-item-wrapper.active a{
    color: #780543;
}
.menu-item-wrapper a.active{
    color: #780543;
}
.blur{
    opacity: 0.1;
}
.bar-cross{
    display: none;
}
.active-menu{
    color: #780543;
}
.profile-dropdown{
    position: absolute;
    width: 153px;
    top: 51px;
    height: 66px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 8px 8px;
    padding: 14px 8px 23px 8px;
    gap:8px;
}
.profile-dropdown h6{
    padding: 5px;
    width: 100%;
    height: 31px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}
.profile-dropdown h6:hover{
    background: #FFDAEE;
}
@media screen and (max-width:1272px) {
    .sidebar-wrapper{
        width: 0px;
        overflow: hidden;
        min-width: unset;
        padding: 0;
        padding-top: 20px;
        transition: 0.3s all ease-in-out;
        position: fixed;
        height: 100vh;
        overflow-y: scroll;
        z-index: 9999;   
        background: #FFFFFF;
        box-shadow: 4px 0px 24px rgba(210, 227, 220, 0.4);
    }
    .sidebar-wrapper.expand{
        width:251px;
        background: #FFFFFF;
        box-shadow: 4px 0px 24px rgba(210, 227, 220, 0.4);
    }
    .expand{
        box-shadow: 4px 0px 24px rgba(210, 227, 220, 0.4);
    }
    .bar-cross{
        display: block;
        position: absolute;
        top: 10px;
        left:20px;
        transition: 0.3s all ease-in-out;
        z-index: 9999;
    }
    .bar-cross.open{
        top: 0;
        left: 0px;
        background: #780543;
        height: 40px;
        width: 40px;
    }
    .bar-cross svg{
        width:25px;
        height: 25px;
        margin: 8px 5px;
    }
    .bar-cross svg:nth-child(2){
        display: none;
    }
    
    .bar-cross.open svg:nth-child(1){
        display: none;
    }
    .bar-cross.open svg:nth-child(2){
        display: block;
       
    } 
}
.menu-item-wrapper a{
    color: #8AAA97;
}

.header-buttons{
    width: 144px;
    padding: 14px 0px;
    border-radius: 16px;
    border:none;
    color: #FFFFFF;
    background-color: var(--primary);
    font-weight: 700;
    font-size: 13px;
    line-height: 17.86px;
}
.logout-wrapper{
    position: absolute;
    bottom: 64px;
    left: 81px;
    color: var(--primary);
    gap: 12px;
}
.wallet-dropdown{
    padding: 23px 29px 24px 29px;
    background: #F4F4F4;
    border-radius: 9.14286px;
    width:376px;
    height:263px;
    right: 300px;
    top: 77px;
}
.wallet-cross{
    width:13px;
    height:13px;
}
.wallet-items-wrapper{
    margin-top: 31px;
    gap:17px;
}
.wallet-items{
    background: #FFFFFF;
    border-radius: 4.57143px;
    padding: 12px 22px;
}
.wallet-items:hover{
    background: #FFE5F3;
}
.wallet-items img{
    width: 22px;
    height: 22px;
}
.header-bar-wrapper{
    justify-content: flex-end;
}
@media screen and (max-width:720px){
    .header-bar-wrapper{
        padding: 0px 19px 0px 19px;
    }
}
@media screen and (max-width:640px){
    .header-buttons{
        display: none;
    }
}