.change-password-content-wrapper{
    padding-left: 40px;
    margin-top: 28px;
}
.old-password-name{
    padding: 13px 40px;
    margin-right: 41px;
    margin-top:28px;
}
.new-password-name{
    padding: 13px 40px;
    margin-right: 41px;
}
.old-password-name:focus{
    outline: none;
}
.new-password-name:focus{
    outline: none;
}
.old-password-name::placeholder{
    color: var(--font-dark);
}
.new-password-name::placeholder{
    color: var(--font-dark);
}
.btn-save-password{
    padding: 20px 58px;
}