.edit-profile-wrapper{
    padding-left: 40px;
    margin-top: 28px;
}
.change-profile-pic{
    margin-top: 48px;
}
.profile-img-wrapper{
    background-color: #E7E7E7;
    border-radius: 50%;
    margin-top: 24px;
}
.editprofile-upload-btn{
    padding: 10px 29px;
    margin-left:34px;
}
.editprofile-delete-btn{
    padding: 10px 66px;
    margin-left:16px;
}
.change-cover-text{
    margin-top: 56px;
}
.profile-user-name{
    padding: 13px 40px;
    margin-right: 41px;
}
.profile-user-name:focus{
    outline: none;
}
.profile-user-name::placeholder{
    color: var(--font-dark);
}
.profile-cover-pic{
    margin-bottom: 40px;
}
.btn-save-profile{
    padding: 10px 58px;
}
@media screen and (max-width:1232px) {
    .editprofile-upload-btn{
        padding: 10px 20px;
    }
    .editprofile-delete-btn{
        padding: 10px 56px;
    }
    .edit-profile-wrapper{
        padding-left: 20px;
    }
    .btn-save-profile{
        padding: 10px 48px;
    }
    .edit-profile-heading{
        font-size: 32px;
    }
}
@media screen and (max-width:1024px) {

    .edit-profile-wrapper h4{
        font-size: 22px;
    }
    .change-profile-pic{
        margin-top: 32px;
    }
    .profile-wrapper{
        flex-direction: column;
        align-items: self-start;
    }
    .editprofile-upload-btn{
        margin-left: 0;
    }
    .editprofile-btn-wrapper{
        margin-top: 10px;
    }
    .profile-user-name{
        margin-right: 0px;
    }
}
@media screen and (max-width:802px){
    .edit-profile-wrapper h4{
        font-size: 20px;
    }

}
@media screen and (max-width:768px) {
    .edit-profile-wrapper{
        padding-left: 0px;
    }
}
@media screen and (max-width:600px) {
    
    .edit-profile-wrapper h4{
        font-size: 15px;
    }
    .editprofile-upload-btn{
        font-size: 14px;
        padding: 10px 15px;
    }
    .editprofile-delete-btn{
        font-size: 14px;
        padding: 10px 46px;
    }
    .btn-save-profile{
        font-size: 14px;
    }
    .profile-user-name{
        font-size: 14px;
    }
    .edit-profile-heading{
        font-size: 26px;
    }
}
@media screen and (max-width:426px) {
    .edit-profile-wrapper h4{
        font-size: 12px;
    }
    .editprofile-upload-btn{
        font-size: 12px;
        padding: 9px 10px;
    }
    .editprofile-delete-btn{
        font-size: 14px;
        padding: 8px 36px;
    }
    .btn-save-profile{
        font-size: 14px;
    }
    .profile-user-name{
        font-size: 14px;
    }
    .edit-profile-heading{
        font-size: 26px;
    }
    .change-cover-text{
        margin-top: 26px;
    }
    .profile-cover-pic{
        margin-bottom: 20px;
    }
    .change-profile-pic{
        margin-top: 22px;
    }
}