
.faq-accordian-item-wrapper{
    padding-bottom: 16px;
    border-bottom:2px solid var(--very-light-gray);
}
.accordian-content-wrapper{
    margin-top: 29px;
    margin-bottom: 30px;
}
@media screen and (max-width:768px) {
    .faq-accordian-item-wrapper{
        margin-bottom: 26px;
    }
    .faq-accordian-item-wrapper h3{
        font-size: 26px;
    }
    .accordian-content-wrapper{
        margin-top: 19px;
        margin-bottom: 20px;
    }
    .accordian-content-wrapper h3{
        font-size:18px;
        line-height: 22px;
    }
}
@media screen and (max-width:425px) {
    .faq-accordian-item-wrapper{
        margin-bottom: 18px;
    }
    .faq-accordian-item-wrapper h3{
        font-size: 20px;
    }
    .accordian-content-wrapper{
        margin-top: 9px;
        margin-bottom: 15px;
    }
    .accordian-content-wrapper h3{
        font-size:14px;
        line-height: 16px;
    }
}