.filter-position-absolute{
    right: 180px;
}
.filters-heading-wrapper{
    min-width: 256px;
    height: 56px;
    padding: 0px 24px;
}
.filters-heading-item-wrapper{
    min-width: 256px;
    padding: 17px 24px;
}
.sort-heading-wrapper{
    min-width: 144px;
    height: 56px;
    padding: 17px 24px;
}

@media screen  and (max-width:476px){
    .filter-margin{
        display:none;
    }
    .filters-heading-wrapper{
        min-width: 200px;
        padding: 0px 14px;
    }
    .filters-heading-item-wrapper{
        min-width: 200px;
        padding: 17px 14px;
    }
}
@media screen  and (max-width:425px){
    .filters-heading-wrapper{
        min-width: 150px;
        padding: 0px 10px;
    }
    .filters-heading-item-wrapper{
        min-width: 150px;
        padding: 10px 10px;
    }
}
@media screen  and (max-width:375px){
    .filter-margin{
        display:none;
        margin-top: 20px;
        margin-bottom: 12px;
    }
    .filters-heading-wrapper{
        height: 36px;
    }
    .filters-heading-wrapper a{
        font-size: 12px;
    }
    .filters-heading-wrapper img{
        width: 22px;
        height: 22px;
    }
    .sort-heading-wrapper{
        height: 36px;
        padding: 0px 10px;
    }
    .sort-heading-wrapper a{
        font-size: 12px;
    }
    .sort-heading-wrapper img{
        width: 22px;
        height: 22px;
    }
}