.myaccount-section{
    padding-top: 136px;
}
.myaccount-heading{
    padding-bottom: 30px;
}
.vertical-line{
    height: 1300px;
    border-right: 1px solid var(--very-light-gray);
}
.sidebar-logout-btn{
    padding:20px 81px;
}

@media screen and (max-width:1440px) {
    .myaccount-section{
        width: 90%;
    }
    .myaccount-heading{
        font-size: 32px;
        padding-bottom: 20px;
    }
}