.nft-wrapper{
    padding-top:96px;
}

.table-heading{
    padding-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
}
.table-content{
    padding-top: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DEDEDE;
}