
.container-1{
    width: 100%;
    max-width: 1353px;
    margin: 0 auto;
}
.container-sm{
    width: 100%;
    max-width: 793px;
    margin: 0 auto;
}
.p-footer{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
   
}
.p-purple{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
}
.p-joinc{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 31px;
}
.p-aboutus{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 26px;
}
.p-brands{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
}
.p-404{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}
.pr-56{
    padding-right: 56px;
}
.mt-8{
    margin-top: 8px;
}
.mt-14{
    margin-top: 14px;
}
.mt-16{
    margin-top: 16px;
}
.mt-24{
    margin-top: 24px;
}
.mt-25{
    margin-top: 25px;
}
.mt-32{
    margin-top: 32px;
}
.mt-40{
    margin-top: 40px;
}
.mt-48{
    margin-top: 48px;
}
.mt-54{
    margin-top: 54px;
}
.mt-56{
    margin-top: 56px;
}
.mt-60{
    margin-top: 54px;
}
.mt-64{
    margin-top: 64px;
}
.mt-76{
    margin-top: 76px;
}
.mt-80{
    margin-top: 80px;
}
.mt-88{
    margin-top: 88px;
}
.mt-108{
    margin-top:108px;
}
.mt-144{
    margin-top:144px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 32px;
}
.ml-10{
    margin-left: 10px;
}
.ml-24{
    margin-left: 24px;
}
.ml-32{
    margin-left: 32px;
}
.mb-40{
    margin-bottom: 40px;
}
.ml-50{
    margin-left: 46px;
}
.pt-76{
    padding-top: 76px;
} 
.pb-175{
    padding-bottom: 175px;
}
.pt-112{
    padding-top: 112px;
}
.pb-32{
    padding-bottom: 32px;
}
.pt-72 {
    padding-top: 72px;
}
.pt-140{
    padding-top: 140px;
}
.pb-120{
    padding-bottom: 120px;
}
.pt-48 {
    padding-top: 48px;
}
.pb-100{
    padding-bottom: 100px;
}
.home-banner-page-bars .swiper-pagination-bullet {
    margin: 0 16px !important;
    width: 174px;
    height: 5px;
    border-radius: 8px;
    background-color: #C4C4C4;;
    cursor: pointer;
    opacity: 1 !important;
}
.home-banner-page-bars .swiper-pagination-bullet-active{
    background: var(--primary);
}
.active{
    font-weight: 500;
    color: var(--primary);
}
.vendor-container{
    padding: 0px clamp(0.625rem, -0.6667rem + 5.7407vw, 4.5rem) 0px clamp(0.625rem, 0.0208rem + 2.6852vw, 2.4375rem);
}
.text-danger{
    color: red;
}
.word-break{
    word-break: break-word;
}